.parallax {
	background-image: url('/flat-lay-burger-ingredients-wooden-table.jpg');
	position: absolute;
	width: 100%;
	z-index: -10;
	/* Set a specific height */
	min-height: 100vh;
	margin: 0;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
}

.content {
	background-color: #ffba49;
}

.flame-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0;
	opacity: 0.15;
	background-image: url('/fire.jpeg');
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
