.locations {
	display: block;
	/* max-width: 1280px;
	margin: 0 auto; */
}

.location {
	display: flex;
	align-items: center;
	max-width: 1280px;
	margin: 0 auto;
	justify-content: flex-start;
	padding: 20px 20px;
}

.end {
	text-align: right;
	flex-direction: row-reverse;
}

.location-image {
	height: 100%;
	padding: 10px 20px;
}
.location img {
	height: 100%;
}

@media (min-width: 1024px) {
	.location {
		height: 400px;
	}
}
